@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
html {
    height: 100%;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

ul,
ol {
    padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1;
    font-size: 16px;
}

.container {
    margin: 0 auto;
    padding: 0 10px;
    width: 1200px;
}

a {
    cursor: pointer;
}

ul {
    list-style: none;
}

ul[class],
ol[class] {
    list-style: none;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}

img {
    max-width: 100%;
    display: block;
}

article>*+* {
    margin-top: 1em;
}

input,
button,
textarea,
select {
    font: inherit;
}

@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

@media(max-width: 1300px) {
    .container {
        width: 1060px;
    }
    .product__img {
        height: 300px;
    }
    .produt-left p {
        font-size: 16px;
    }
    .banner__text h1 {
        font-size: 36px;
    }
    .banner__text p {
        font-size: 14px;
    }
    .bannerbtn {
        width: 220px;
        height: 45px;
        margin-top: 20px;
        padding-left: 30px;
    }
}

@media (max-width: 1260px) {
    .services__container {
        flex-direction: column;
    }
    .services__imgs {
        width: 100%;
        margin-right: 0;
    }
    .services__content {
        width: 100%;
        margin-top: 30px;
    }
    .services__item {
        margin-bottom: 30px;
    }
    .contacts__container::before {
        display: none;
    }
}

@media (max-width: 1160px) {
    .logo{
        width: 120px;
        height: 60px;
    }
    .feedback__slider .slick-prev {
        left: 10%;
    }
    .feedback__slider .slick-next {
        right: 10%;
    }
    .banner2__item {
        width: 40%;
        top: 30%;
        left: unset;
        right: 20px;
    }
    .banner2__item {
        width: 55%;
        top: 45%;
        left: unset;
        right: 0px;
    }
    .banner__text h1 {
        font-size: 28px;
    }
    .banner__text p {
        display: none;
    }
    .header:hover .header__contacts {
        transform: unset;
    }
    .header:hover .header__contact {
        transform: unset;
        display: unset;
        width: fit-content;
    }
    .header:hover {
        width: 100%;
    }
    .header .header__link p {
        display: block;
        opacity: 1;
    }
    .header {
        height: 60px;
        width: 100%;
        padding: 0;
        display: flex;
        align-items: center;
    }
    .header__contacts {
        display: flex;
    }
    /* .logo {
        width: fit-content;
        height: fit-content;
    } */
    .header__mob-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .header__container {
        position: absolute;
        right: -100%;
        top: 100%;
        padding: 30px;
        background: rgba(0, 0, 0, 0.7);
        width: fit-content;
        height: 100vh;
        transition: all 0.3s ease;
    }
    .header__produts {
        margin-top: 85px;
    }
    .header__container.active {
        right: 0;
    }
    .bar {
        display: flex;
        flex-direction: column;
        width: 40px;
        height: fit-content;
    }
    .header .logo {
        display: inline-block;
    }
    .bar.active .line:nth-child(2n) {
        width: 50%;
    }
    .line {
        height: 4px;
        width: 100%;
        background: #fff;
        border-radius: 20px;
        margin-bottom: 4px;
        transition: all 0.3s ease;
    }
    .line:last-child {
        margin-bottom: 0;
    }
    .top {
        display: none;
    }
    .container {
        width: 100%;
        padding: 0 20px;
    }
    body {
        font-size: 14px;
    }
    .produt-left p {
        font-size: 14px;
    }
    .tabcontent__info {
        margin-top: 25px;
    }
    .produt__item,
    .produt__item.left {
        flex-direction: column-reverse;
    }
    .product__img {
        margin-top: 40px;
    }
    .product__img {
        width: 500px;
    }
    .produt-left {
        width: 100%;
    }
    .product__img::before {
        top: 50%;
        left: 50%;
        transform: translate(-100%, -50%);
    }
    .produts__container {
        padding: 25px 0;
    }
    .titleSection {
        font-size: 26px;
        margin-top: 0;
        margin-bottom: 20px;
        padding-bottom: 0px;
    }
    .title {
        font-size: 22px;
    }
    .price {
        font-size: 13px;
        margin-bottom: 20px;
    }
    .product__img.mob {
        display: block;
    }
    .product__img {
        display: none;
    }
    .footer__container {
        flex-direction: column;
        align-items: start;
    }
    .footer__links:first-child {
        margin-bottom: 20px;
        flex-wrap: wrap;
        justify-content: unset;
    }
    .footer__link:first-child {
        margin-left: 0;
        margin-right: 20px;
    }
    .footer__link {
        margin-bottom: 20px;
        margin-left: 0;
        margin-right: 20px;
    }
    .footer {
        padding: 30px 0;
    }
    .footer__botom {
        padding-top: 30px;
        margin-top: 10px;
    }
    .footer__link.tel {
        display: none;
    }
}

@media (max-width: 1000px) {
    .space.m {
        margin-top: 50px;
    }
    .aboutus__container {
        flex-direction: column-reverse;
    }
    .aboutus__img {
        height: 400px;
    }
    .aboutus p {
        font-size: 16px;
    }
    .boutus__text,
    .aboutus__img {
        width: 100%;
    }
    .projects__items {
        grid-auto-rows: 200px;
    }
    .advantages__items {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 40px;
    }
    .advantages__item {
        width: 100%;
        padding: 0;
    }
    .paddings {
        padding: 40px 0;
    }
    .product__catalog__container {
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 300px;
    }
    .contacts__container {
        padding: 30px;
        flex-direction: column;
    }
    .contacts__info,
    .contacts__map {
        width: 100%;
    }
    .contacts__map {
        margin-top: 30px;
    }
    .contacts__map .popup {
        padding: 0;
    }
    .contacts__link {
        font-size: 14px;
        margin-top: 25px;
    }
    .popup__title {
        font-size: 18px;
        margin-bottom: 25px;
    }
    .form__group input,
    .form__group select,
    .popup button {
        width: 100%;
        height: 50px;
    }
}

@media (max-width: 700px) {
    .projects__items {
        grid-template-columns: repeat(2, 1fr);
    }
    .feedback__slider .slick-prev {
        left: 5%;
    }
    .feedback__slider .slick-next {
        right: 5%;
    }
    .feedback__slider-item {
        width: 350px;
        height: 400px !important;
    }
    .feedback__slider .slick_arrow {
        position: absolute;
        cursor: pointer;
        top: 180px;
    }
    .banner2__item {
        width: 90%;
        top: 40%;
        left: unset;
        right: 0;
    }
    .services__imgs {
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 300px;
    }
    .popup {
        width: 300px;
        padding: 20px;
    }
    .form__group input,
    .form__group select,
    .popup button {
        width: 100%;
        height: 40px;
    }
    .fixed__phone {
        width: 40px;
        height: 40px;
        position: fixed;
        bottom: 30px;
        left: 30px;
    }
    .fixed__phone-items a {
        width: 40px;
        height: 40px;
    }
    .fixed__phone:hover .fixed__phone-items {
        height: 145px;
    }
    .fixed__phone:hover p {
        padding: 3px 5px;
        width: 240px;
    }
    .fixed__phone p {
        font-size: 16px;
    }
    .fixed__phone:hover p {
        width: 195px;
    }
    .services__item p {
        font-size: 14px;
    }
    .services__title {
        margin-right: 10px;
    }
}

@media (max-width: 500px) {
    .uses__container .advantages__title {
        margin-top: 30px;
    }
    .projects__items {
        grid-template-columns: repeat(1, 1fr);
    }
    .showmore.mob {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        margin-top: 30px;
    }
    .showmore {
        display: none;
    }
    .product__catalog-item:nth-child(3),
    .product__catalog-item:nth-child(4) {
        grid-column: span 1 / auto;
    }
    .product__catalog-item:nth-child(10) {
        grid-row: span 1 / auto;
    }
    .product__catalog-item:nth-child(11) {
        grid-column: span 1 / auto;
    }
    .product__catalog__container {
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: 250px;
    }
    .product__img {
        width: 300px;
    }
    .product__img::before {
        width: 150px;
        height: 150px;
    }
    .tabcontent__info,
    .advantages__items {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
    }
    .advantages__title {
        font-size: 16px;
    }
    .advantages__item-img {
        width: 40px;
        height: 40px;
    }
    .services__imgs {
        grid-auto-rows: 250px;
    }
    .banner__text h1 {
        font-size: 24px;
    }
    .bannerbtn {
        width: 200px;
        height: 40px;
    }
    .banner2__item {
        width: 71%;
        top: 49%;
        left: unset;
        right: 0;
    }
}